@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
div.logo {
  display: flex;
  justify-content: center;
  height: 12px;
  padding-top: 20px;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
div.logo img {
  width: 175px;
  height: 30px;
  -o-object-fit: fill;
     object-fit: fill;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.button-resto {
  width: 160px;
  margin-top: 30px;
  margin-bottom: 50px;
  border-radius: 50px;
  padding: 15px;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
}

a {
  text-decoration: none;
  color: white;
}

.center-button {
  text-align: center;
}

.button-resto:hover {
  transform: scale(1.1);
  filter: contrast(120%);
}

.carte {
  position: relative;
  top: 15 0px;
}

.typography, .menu .button {
  border-radius: 50px;
  padding: 12px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  cursor: pointer;
}

.typography:hover, .menu .button:hover {
  transform: scale(1.1);
  filter: contrast(120%);
}

.center {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: fixed;
  inset: 0;
  z-index: 2;
  background-color: white;
  opacity: 0.9;
  -webkit-animation: disparait 1s;
          animation: disparait 1s;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  transform-origin: top;
}

@-webkit-keyframes disparait {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes disparait {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.ring {
  position: absolute;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  -webkit-animation: ring 3s linear infinite;
          animation: ring 3s linear infinite;
}

@-webkit-keyframes ring {
  0% {
    transform: rotate(0deg);
    box-shadow: 2px 5px 3px #9356DC;
  }
  50% {
    transform: rotate(180deg);
    box-shadow: 2px 5px 3px #FF79DA;
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 2px 5px 3px #99E2D0;
  }
}

@keyframes ring {
  0% {
    transform: rotate(0deg);
    box-shadow: 2px 5px 3px #9356DC;
  }
  50% {
    transform: rotate(180deg);
    box-shadow: 2px 5px 3px #FF79DA;
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 2px 5px 3px #99E2D0;
  }
}
.ring:before {
  position: absolute;
  content: "";
  left: 0;
  top: 0%;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 5px 255, 255, 255, 0.3;
}

span.text-loader {
  color: black;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 200px;
  -webkit-animation: text 4s ease-in-out linear;
          animation: text 4s ease-in-out linear;
  font-family: "shrikhand";
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  font-family: "Roboto";
}

.fa-location-dot {
  padding-right: 10px;
}

span.numeros {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background: #9356DC;
  display: grid;
  place-items: center;
  position: absolute;
  left: -12px;
  color: white;
}

.fa-solid.plein {
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: linear-gradient(#9356DC, #FF79DA);
  position: absolute;
  left: 1px;
  transform: scale(1.2);
  display: none;
}

.coeur {
  position: absolute;
  right: 30px;
  bottom: 40px;
}
.coeur .fa-solid.plein:hover {
  display: inline-block;
}
.coeur .creux:hover + .fa-solid.plein {
  display: inline-block;
}

.Paris {
  text-align: center;
  padding: 15px;
  background: rgb(230, 224, 224);
  border-top: 3px solid rgb(194, 189, 189);
  margin-bottom: 0;
  margin-top: 0;
  font-size: 15px;
  font-weight: bold;
}

h1 {
  padding-top: 40px;
  padding-left: 25px;
  margin-top: 0;
  font-size: 27px;
}

.menu {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 60px;
  background: rgb(239, 237, 237);
}
.menu h1, .menu p {
  text-align: center;
  margin: 0;
  padding: 10px;
}
.menu p {
  font-size: 16px;
}
.bar-nav ul {
  margin-bottom: 60px;
  list-style-type: none;
  text-align: center;
}
.bar-nav ul li {
  background: rgb(239, 237, 237);
  box-shadow: 3px 3px 5px 2px #D3D2CF;
  width: 85%;
  margin-bottom: 20px;
  border-radius: 10px;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-right: 20px;
  position: relative;
}
.bar-nav ul li:hover i {
  color: #9356DC;
}
.bar-nav ul a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding-right: 0;
}

nav li:hover {
  background: hsl(294deg, 99%, 93%);
}

.fa-list-ul {
  padding-right: 35px;
}

.fa-mobile-screen {
  padding-right: 15px;
}

.fa-store {
  padding-right: 35px;
}

.card a {
  text-decoration: none;
  color: black;
}

.resto {
  background: rgb(239, 237, 237);
}
.resto .presentation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  padding-bottom: 55px;
}
.resto .card {
  width: 90%;
  height: 280px;
  background-color: white;
  margin: auto;
  border-radius: 20px;
  position: relative;
}
.resto .card .text {
  position: absolute;
  top: 5px;
  right: 10px;
  background: #99E2D0;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 5px;
  color: #278870;
}
.resto .card-image img {
  border-radius: 20px 20px 0px 0px;
  height: 200px;
  width: 100%;
}
.resto h2 {
  margin-top: 10px;
  margin-bottom: 0;
  padding-left: 13px;
}
.resto p {
  margin: 0;
  font-size: 20px;
  padding-left: 13px;
}

footer {
  background-color: black;
  color: white;
  list-style: none;
}
footer h3 {
  font-family: "shrikhand";
  margin-top: 0;
  padding-top: 15px;
  padding-left: 40px;
}
footer ul {
  list-style-type: none;
  padding-bottom: 60px;
}
footer ul li {
  padding: 5px;
}
footer ul li .fa-utensils {
  padding-right: 10px;
}
footer ul li .fa-handshake {
  padding-right: 10px;
}

.coeur-resto {
  position: absolute;
  right: 30px;
  top: 400px;
}
.coeur-resto .fa-solid.plein:hover {
  display: inline-block;
}
.coeur-resto .creux:hover + .fa-solid.plein {
  display: inline-block;
}

.menu-title {
  font-family: "shrikhand";
}

/*
    .coeur-resto{

        .fa-solid.plein-resto:hover{display: inline-block;
            justify-content: space-between;



        }
        .creux:hover{
         + .fa-solid.plein-resto{
            display: inline-block;


         }
        }
    }
    .fa-solid.plein-resto{
        color: transparent;
        background-clip: text;
        background-image: linear-gradient($primary,$secondary);
        position: absolute;
        left: 1px;
        transform: scale(1.2);
        display: none;
    }*/
.fleche {
  position: relative;
}

.fa-arrow-left {
  position: absolute;
  font-size: 25px;
  left: 30px;
  top: 21px;
  color: black;
}

h4 {
  margin: 0;
  padding-left: 10px;
  padding-top: 10px;
  font-size: 20px;
}

p {
  font-size: 10px;
}

.alf-img {
  width: 100%;
  height: 300px;
}

.titre-resto {
  margin-left: 20px;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 19px;
  border-bottom: 3px solid #99E2D0;
  -webkit-text-decoration-color: #99E2D0;
          text-decoration-color: #99E2D0;
  width: 50px;
}

.ligne {
  text-decoration: underline;
  width: 10px;
  -webkit-text-decoration-color: #99E2D0;
          text-decoration-color: #99E2D0;
}

.epd {
  background: rgb(239, 237, 237);
  border-radius: 30px 30px 0px 0px;
}
.epd .enplde {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding-bottom: 10px;
}
.epd .enplde .carte {
  background: white;
  width: 90%;
  border-radius: 10px;
  height: 70px;
  box-shadow: 3px 3px 12px -1px #7F7F7F;
}
.epd .enplde .carte .nom-plat {
  width: 100%;
  justify-content: space-between;
}
.epd .enplde .carte:hover .checkbox {
  width: 70px;
}
.epd .enplde .carte a {
  text-decoration: none;
  color: black;
}
.epd .enplde .carte a p {
  margin: 0;
  padding-left: 10px;
  padding-top: 10px;
  font-size: 15px;
}
.epd .enplde .carte a p span {
  float: right;
  padding-right: 20px;
  font-weight: bold;
}
.epd .menu-plat h4 {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.epd .menu-plat p {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.epd .menu-plat .prix {
  padding: 11px;
  display: flex;
  align-items: flex-end;
  font-weight: bold;
}
.epd .checkbox {
  position: relative;
  width: 0;
  height: 100%;
  background-color: #99E2D0;
  display: grid;
  place-items: center;
  transition: width 0.9s;
  border-radius: 0px 10px 10px 0px;
  overflow: hidden;
}
.epd .carte:hover .checkbox {
  height: 100%;
}
.epd .menu-plat {
  display: flex;
  justify-content: space-between;
  height: 100%;
  gap: 1px;
  flex-grow: 1;
}
.epd .fa-circle-check {
  color: white;
  font-size: 25px;
}
.epd .carte:hover .fa-circle-check {
  transform: rotate(360deg);
  display: inline-block;
  transition: 0.5s linear;
}

@-webkit-keyframes fadein {
  to {
    opacity: 1;
    top: 0;
  }
  from {
    opacity: 0;
    top: 1000px;
  }
}
.enplde {
  overflow: hidden;
}

.trans1 {
  -webkit-animation: fadein 0.5s forwards;
          animation: fadein 0.5s forwards;
}

.trans2 {
  -webkit-animation: fadein 1s forwards;
          animation: fadein 1s forwards;
}

.trans3 {
  -webkit-animation: fadein 1.3s forwards;
          animation: fadein 1.3s forwards;
}

.trans4 {
  -webkit-animation: fadein 2.8s forwards;
          animation: fadein 2.8s forwards;
}

.trans5 {
  -webkit-animation: fadein 3.2s forwards;
          animation: fadein 3.2s forwards;
}

.trans6 {
  -webkit-animation: fadein 3.5s forwards;
          animation: fadein 3.5s forwards;
}

.trans7 {
  -webkit-animation: fadein 4.1s forwards;
          animation: fadein 4.1s forwards;
}

.trans8 {
  -webkit-animation: fadein 4.9s forwards;
          animation: fadein 4.9s forwards;
}

.trans9 {
  -webkit-animation: fadein 5.3s forwards;
          animation: fadein 5.3s forwards;
}

@media (min-width: 1000px) {
  .fonctionnement-dk {
    display: flex;
    gap: 20px;
    padding: 20px;
  }
  h1 {
    margin-bottom: 0;
  }
  .bar-nav ul {
    margin: 15px;
  }
  .titre-footer {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
  }
  .gap {
    display: flex;
    justify-content: space-around;
  }
  .resto .presentation {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
  }
  .resto .presentation .card {
    width: 45%;
  }
  .desktop {
    display: flex;
  }
  .desktop .conteneur-desktop {
    width: 34%;
  }
  footer h3 {
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */