@import"base/typography.scss";
@import"base/_variables.scss";
@import "page/_index.scss";
@import "base/_normalize.scss";
@import"component/_buttons.scss";
@import"component/_plats.scss";

//import//

    .typography{
    border-radius: 50px;
    padding: 12px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    background: linear-gradient($secondary,$primary);
    border: none;
    cursor: pointer;
    
    }
    .typography:hover{
        transform: scale(1.1);
        filter: contrast(120%);
    } 

    .center{
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        position: fixed;
        inset: 0;
        z-index: 2;
        background-color: white;
        opacity: 0.9;
        animation: disparait 1s;
        animation-delay: 5s;
        animation-fill-mode: forwards;
        transform-origin: top; 
    }

    @keyframes disparait{
        0%{
            transform: scale(1);
        }
        100%{
            transform: scale(0);
        }
    }

    .ring{
        position: absolute;
        height: 200px;
        width: 200px;
        border-radius: 50%;
        animation: ring 3s linear infinite;
    }

    @keyframes ring{
        0%{
            transform: rotate(0deg);
            box-shadow: 2px 5px 3px $primary;
        }
        50%{
            transform: rotate(180deg);
            box-shadow: 2px 5px 3px $secondary;
        }
        100%{
            transform: rotate(360deg);
            box-shadow: 2px 5px 3px $tertiary;
        }
    }
    .ring:before{
        position: absolute;
        content: '';
        left: 0;
        top: 0%;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        box-shadow: 0 0 5px (255,255,255,.3);
    }

    span.text-loader{
        color: black;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 1px;
        line-height: 200px;
        animation: text 4s ease-in-out linear;
        font-family:"shrikhand" ;
    }

img{
    object-fit: cover;
}
body{
    font-family: "Roboto" ;
}
.fa-location-dot{
    padding-right: 10px;
}

span.numeros{
    border-radius: 50%;
    width:25px;
    height: 25px;
    background: $primary;
    display: grid;
    place-items: center;
    position: absolute;
    left: -12px;
    color: white;
}


.fa-solid.plein{
    color: transparent;
    background-clip: text;
    background-image: linear-gradient($primary,$secondary);
    position: absolute;
    left: 1px;
    transform: scale(1.2);
    display: none;
    
    
}

.coeur{
    
    position: absolute;
    right: 30px;
    bottom: 40px;
    //padding-right: 20px;
   // padding-bottom: 40px;
    .fa-solid.plein:hover{display: inline-block;

        
    }
    .creux:hover{
     + .fa-solid.plein{
        display: inline-block;
        

     }
    }
}


.Paris{
    text-align: center;
    padding:15px;
    background: rgb(230, 224, 224);
    border-top: 3px solid rgb(194, 189, 189);
    margin-bottom: 0;
    margin-top: 0;
    font-size: 15px;
    font-weight: bold;
}

h1{
    padding-top: 40px;
    padding-left: 25px;
    margin-top: 0;
    font-size: 27px;
}



.menu{
   
    padding-left: 40px;
    padding-right: 40px;
    padding-top:40px ;
    padding-bottom: 60px;
    background: rgb(239, 237, 237);
        h1,p{
            text-align: center;
            margin: 0;
            padding: 10px;
          
        }
        p{
            font-size: 16px
           } 
         .button{  @extend .typography;
         }
        }
        
    .bar-nav{

        ul{
            margin-bottom: 60px;
            list-style-type: none; 
            //padding-left: 20px;
            text-align: center;
            
            
            li{
                background: rgb(239, 237, 237);
                box-shadow: 3px 3px 5px 2px #D3D2CF;
                width: 85%;
                margin-bottom: 20px;
                border-radius: 10px;
                padding-top: 27px;
                padding-bottom: 27px;
                padding-right: 20px; 
                position: relative;
                &:hover i{
                    color:$primary;
                }
            
            }          
           
        a{
        text-decoration: none;
        color: black;
        font-weight: bold;
        padding-right: 0;
       
        
        }
    }
}

nav li:hover{
    background:hsl(294, 99%, 93%) 
}

.fa-list-ul{
    padding-right: 35px;
}
.fa-mobile-screen{
    padding-right: 15px;
}

.fa-mobile-screen:hover{
   // color: blue;
}

.fa-store{
    padding-right: 35px;
}

.card a{
    text-decoration: none;
    color: black;
}

.resto{
    background: rgb(239, 237, 237);
        .presentation{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 25px;
            padding-bottom: 55px;
            
            
        }
       

       .card{
            width: 90%;
            height: 280px;
            background-color: white;
            margin: auto;
            border-radius: 20px;
            position: relative;
           
            .text{
                position: absolute;
                top: 5px;
                right: 10px;
                background: $tertiary;
                padding-top: 8px;
                padding-bottom: 8px;
                padding-left: 15px;
                padding-right: 15px;
                margin-top: 5px; ;
                color: darken($tertiary, 40%)
            }
        }
        
        
            
            .card-image img{
                border-radius: 20px 20px 0px 0px ;
                height: 200px;
                width: 100%;
            }
            
            h2{
                margin-top: 10px;
                margin-bottom: 0;
                padding-left: 13px;
            }
            
            p{
                margin: 0;
                font-size: 20px;
                padding-left: 13px;
            }

}  

footer{
    background-color: black;
    color: white;
    list-style: none;
    h3{
        font-family: 'shrikhand';
        margin-top: 0;
        padding-top: 15px;
        padding-left: 40px;
    }
    
    
    ul{
        list-style-type: none;
        padding-bottom: 60px;
        li{padding: 5px;
        .fa-utensils{
            padding-right: 10px;
            
        }
        .fa-handshake{
            padding-right: 10px;
        }
    }
}
}

// Restos
.coeur-resto{
    position: absolute;
    right: 30px;
    top:400px;
    .fa-solid.plein:hover{display: inline-block;

        
    }
    .creux:hover{
     + .fa-solid.plein{
        display: inline-block;
        

     }
    }
}

.menu-title{
    font-family: "shrikhand" ;
    
} 
   
/*
    .coeur-resto{
    
        .fa-solid.plein-resto:hover{display: inline-block;
            justify-content: space-between;
            
    
            
        }
        .creux:hover{
         + .fa-solid.plein-resto{
            display: inline-block;
            
    
         }
        }
    }
    .fa-solid.plein-resto{
        color: transparent;
        background-clip: text;
        background-image: linear-gradient($primary,$secondary);
        position: absolute;
        left: 1px;
        transform: scale(1.2);
        display: none;
    }*/

.fleche{
    position: relative;
    
}

.fa-arrow-left{
    position: absolute;
    font-size: 25px;
    left: 30px;
    top: 21px;
   // padding-right: 30px;
    color: black;
}

h4{
    margin: 0;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 20px ;
}
p{
    font-size: 10px;
}

.alf-img{
    width:100% ;
    height: 300px;
}
.titre-resto{
    margin-left: 20px;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 19px;
    border-bottom: 3px solid $tertiary;
    //text-decoration: underline;
    text-decoration-color: $tertiary;
    //text-decoration-thickness: 3px;
    width: 50px;
}

.ligne{
    text-decoration: underline;
    width: 10px;
    text-decoration-color: $tertiary;
}

    //border-bottom: 3px solid $tertiary;
   // text-decoration: underline;
   // text-decoration-color: $tertiary;
   // text-decoration-thickness: 3px;
  // width: 50px;

.epd{
    background: $quartenary;
    border-radius: 30px 30px 0px 0px;
    
       
    
    .enplde{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        padding-bottom: 10px;
    .carte{
        background: white;
        width: 90%;
        border-radius: 10px;
        height: 70px; 
        box-shadow: 3px 3px 12px -1px #7F7F7F;
        .nom-plat{
            width:100%;
            justify-content: space-between;
        }
        
        &:hover{
            .checkbox{
                width: 70px;
            }
        }
        a{
            text-decoration: none;
            color: black;
            
            p{
                margin: 0;
                padding-left: 10px;
                padding-top: 10px;
                font-size: 15px;
                
                

                span{
                    float: right;
                    padding-right: 20px;
                    font-weight: bold;
                }
            
            }
        }
    }
}


.menu-plat {

    h4{
        width: 250px;
    white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

    }
   p{
    width: 250px;
    white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
}
.prix{
    padding: 11px;
    display: flex;
    align-items: flex-end;
    font-weight: bold;
    }
}

.checkbox{
    position: relative;
    width: 0;
    height: 100%;
    background-color: $tertiary;
    display: grid;
    place-items: center;
    transition: width 0.9s;
    border-radius: 0px 10px 10px 0px;
     overflow: hidden;
    
}
.carte:hover .checkbox{
    height: 100%;
}

.menu-plat{
    display: flex;
    justify-content: space-between;
    height: 100%;
    gap:1px;
    flex-grow: 1;
}


.fa-circle-check{
   //display: none;
   color: white;
   font-size: 25px ;
   
}


.carte:hover .fa-circle-check{
    transform: rotate(360deg);
    display: inline-block;
    transition: 0.5s linear;
}



}

@-webkit-keyframes fadein{
    to{
        opacity: 1;
        top: 0;
    }
    
    from{
        opacity: 0;
        top: 1000px;
    }
}

.enplde{
    overflow: hidden;
}
.trans1{
    animation: fadein 0.5s forwards;
}
.trans2{
    animation: fadein 1s forwards;
    //animation-delay: fadein 1s;
    //animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.trans3{
    animation: fadein 1.3s forwards;
   // animation-delay: fadein 1s;
    //animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.trans4{
    animation: fadein 2.8s forwards;
   // animation-delay: fadein 1s;
}

.trans5{
animation: fadein 3.2s forwards;
   // animation-delay: fadein 1s;
}
.trans6{
    animation: fadein 3.5s forwards;
   // animation-delay: fadein 1s;
}
.trans7{
    animation: fadein 4.1s forwards;
    //animation-delay: fadein 1.3s;
}
.trans8{
    animation: fadein 4.9s forwards;
   // animation-delay: fadein 1.3s;
}
.trans9{
    animation: fadein 5.3s forwards;
    //animation-delay: fadein 1.3s;
}

//responsive

@media(min-width: 1000px){
//menu
.fonctionnement-dk{
    display: flex;
    //justify-content: space-between;
    gap: 20px;
    padding: 20px;
   // margin-bottom: 30px;
}
h1{
    margin-bottom: 0;
}
.bar-nav{
    ul{
        margin: 15px;}
}
.titre-footer{
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}
.gap{
    display: flex;
    justify-content: space-around;
}

.resto{
    .presentation{
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    .card{
        width: 45%;
    }
}
}

//resto
.desktop{
    display: flex;
    //flex-direction: row;
    .conteneur-desktop{
        width: 34%;
    }
}

footer{
    h3{
        text-align: center;
    }
    
}


}

