@media(min-width: 1000px){
    //menu
    .fonctionnement-dk{
        display: flex;
        gap: 20px;
        padding: 20px;
    }
    h1{
        margin-bottom: 0;
    }
    .bar-nav{
        ul{
            margin: 15px;}
    }
    .titre-footer{
        text-align: center;
        font-size: 40px;
        margin-bottom: 20px;
    }
    .gap{
        display: flex;
        justify-content: space-around;
    }
    
    .resto{
        .presentation{
        display: flex;
        flex-wrap: wrap;
        padding: 30px;
        .card{
            width: 45%;
        }
    }
    }
    
    //resto
    .desktop{
        display: flex;
        .conteneur-desktop{
            width: 34%;
        }
    }
    
    footer{
        h3{
            text-align: center;
        }
        
    }
    
    
    }