div{
    &.logo{
       
        display: flex;
        justify-content: center;
        height: 12px;
        padding-top: 20px;
        padding-bottom: 15px;
        margin-bottom: 15px;

        img{
            width: 175px;
            height: 30px;
            object-fit: fill;

        }
    }

} 
