.center{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: fixed;
    inset: 0;
    z-index: 2;
    background-color: white;
    opacity: 0.9;
    animation: disparait 1s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
    transform-origin: top; 
}

@keyframes disparait{
        0%{
            transform: scale(1);
        }
        100%{
            transform: scale(0);
        }
    }

    .ring{
        position: absolute;
        height: 200px;
        width: 200px;
        border-radius: 50%;
        animation: ring 3s linear infinite;
    }

    @keyframes ring{
        0%{
            transform: rotate(0deg);
            box-shadow: 2px 5px 3px $primary;
        }
        50%{
            transform: rotate(180deg);
            box-shadow: 2px 5px 3px $secondary;
        }
        100%{
            transform: rotate(360deg);
            box-shadow: 2px 5px 3px $tertiary;
        }
    }
    .ring:before{
        position: absolute;
        content: '';
        left: 0;
        top: 0%;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        box-shadow: 0 0 5px rgba(255,255,255,.3);
    }

    span.text-loader{
        color: black;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 1px;
        line-height: 200px;
        animation: text 4s ease-in-out;
        font-family:"shrikhand" ;
    }
